section.section.buy
	.section_in.buy__in
		.buy__block
			.buy__title_w.js-fade-el
				.buy__title_in
					+picture({
						img: `buy/buy-1.png`,
						class: 'buy__img_w',
						img_class: 'buy__title_img',
						alt: 'some image',
					})
					.buy__info_w
						h2.buy__title_title.js-opacity-el how to #[br] buy $CAT?

		.buy__block
			.buy__cat_w.js-fade-el
				.buy__cat_in
					+picture({
						img: `buy/buy-2.jpg`,
						class: 'buy__img_w',
						img_class: 'buy__title_img',
						alt: 'some image',
					})

		.buy__block
			img(src="images/arrow.svg", alt="arrow right").buy__ins_arrow
			.buy__ins_w.js-fade-el
				.buy__ins_in
					+picture({
						img: `buy/buy-3.png`,
						class: 'buy__img_w',
						img_class: 'buy__title_img',
						alt: 'some image',
					})
					.buy__info_w
						.buy__ins_title.js-opacity-el Install #[br] Phantom Wallet
						.buy__ins_descr.js-opacity-el Use the provided link to install #[strong Phantom Wallet] and interact with the Solana ecosystem.

		.buy__block
			img(src="images/arrow.svg", alt="arrow right").buy__get_arrow
			.buy__get_w.js-fade-el
				.buy__get_in
					+picture({
						img: `buy/buy-4.png`,
						class: 'buy__img_w',
						img_class: 'buy__title_img',
						alt: 'some image',
					})
					.buy__info_w
						.buy__get_title.js-opacity-el Get $SOL
						.buy__get_descr.js-opacity-el Purchase $SOL directly through your #[strong Phantom Wallet] or by using any of the leading exchanges including Binance, ByBit, OKX.

		.buy__block
			img(src="images/arrow.svg", alt="arrow right").buy__send_arrow
			.buy__send_w.js-fade-el
				.buy__send_in
					+picture({
						img: `buy/buy-5.png`,
						class: 'buy__img_w',
						img_class: 'buy__title_img',
						alt: 'some image',
					})
					.buy__info_w
						.buy__send_title.js-opacity-el Send $SOL #[br] to wallet
						.buy__send_descr.js-opacity-el To buy $CAT in any amount, ensure you have enough $SOL in your wallet. If purchased on an exchange, transfer it to your Phantom.

		.buy__block
			.buy__buy_w.js-fade-el
				.buy__buy_in
					+picture({
						img: `buy/buy-6.png`,
						class: 'buy__img_w',
						img_class: 'buy__title_img',
						alt: 'some image',
					})
					.buy__info_w
						.buy__buy_title.js-opacity-el Buy $CAT
						.buy__buy_descr.js-opacity-el Use the official $CAT contract address:
						.buy__buy_btn.js-opacity-el.js-copy-adress Copy Address
						.buy__buy_descr.js-opacity-el And purchase it on #[strong Raydium]

		.buy__block
			.buy__footer_w.js-fade-el
				.buy__footer_in
					+picture({
						img: `buy/buy-7.jpg`,
						class: 'buy__img_w',
						img_class: 'buy__title_img',
						alt: 'some image',
					})

