-
	list = [
		{
			title: 'Roadmap',
			id: 'roadmap'
		},
		{
			title: 'Meownomics',
			id: 'meownomics'
		},
		{
			title: 'How to buy',
			id: 'How-to-buy'
		},
		{
			title: 'Description',
			id: 'description'
		},
		{
			title: 'Benefits',
			id: 'benefits'
		},
	]

button(type="button" alt="open").menu_open.js-menu-btn-open



.menu.js-menu
	.menu__logo_w
		+picture({
			img: `logo.png`,
			class: 'header__img_w js-fade-start',
			img_class: 'header__img',
			alt: 'some image',
		})
		.header__logo_cta Cat Coin

	button(type="button" alt="close").menu__btn_close.js-menu-btn-close
	.menu__in
		+picture({
			img: `menu-bg.png`,
			class: 'menu__img_w',
			img_class: 'menu__img',
			alt: 'some image',
		})
		.menu__box

			.menu__nav_row
				nav.menu__nav
					ul.menu__list
						each item in list
							li.menu__item
								//- .menu__link=item.title
								a(href=`#${item.id}`).menu__link=item.title
						li.menu__item
							a(href="https://coinmarketcap.com/currencies/catcoinofsolana/").menu__btn.js-buy-btn Buy $CAT