section.section.meow
	.section_in.meow__in
		.meow__col
			.meow__hero_w.js-fade-el
				.meow__title_in
					+picture({
						img: `meow/meow.png`,
						class: 'meow__title_img_w',
						img_class: 'meow__title_img',
						alt: 'some image',
					})
					h2.meow__title_title.js-opacity-el MEOWNOMICS

		.meow__col
			.meow__tax_w.js-fade-el
				.meow__tax_in
					+picture({
						img: `meow/tax.png`,
						class: 'meow__img_w',
						img_class: 'meow__img',
						alt: 'some image',
					})
					.meow__tax_num.js-opacity-el 0
					.meow__tax_title.js-opacity-el Taxes

