section.section.nft
	.section_in.nft__in
		.nft__block
			.nft__hero.js-fade-el
				.nft__hero_in
					+picture({
						media: 1024,
						img_mob: 'nft/mob-nft-1.png',
						img: `nft/nft-1.jpg`,
						class: 'nft__hero_img_w',
						img_class: '',
						alt: 'some image',
					})
					.nft__hero_info_w
						.nft__hero_info
							h2(id='benefits').nft__hero_title.js-opacity-el NFT COLLECTION
							.nft__hero_descr.js-opacity-el Enjoy your unique digital assets offering exclusive airdrops, gated holder campaigns and much more...
						.nft__hero_decor.js-opacity-el

		.nft__block
			.nft__cat.js-fade-el
				.nft__cat_in
					+picture({
						media: 1024,
						img_mob: 'nft/mob-nft-2.png',
						img: `nft/nft-2.jpg`,
						class: 'nft__hero_img_w',
						img_class: '',
						alt: 'some image',
					})

		.nft__block
			.nft__collect.js-fade-el
				.nft__collect_in
					+picture({
						img: `nft/nft-4.png`,
						class: 'nft__hero_img_w',
						img_class: '',
						alt: 'some image',
					})
					.nft__info
						.nft__collect_title.js-opacity-el NFT COLLECTION
						.nft__collect_descr.js-opacity-el In a later stage of project development, the dedicated $CAT Marketplace will be integrated into the ecosystem, allowing users to trade NFTs and utilize it as a DEX as well.


		.nft__block
			.nft__stak.js-fade-el
				.nft__stak_in
					+picture({
						img: `nft/nft-3.png`,
						class: 'nft__hero_img_w',
						img_class: '',
						alt: 'some image',
					})
					.nft__info
						.nft__stak_title.js-opacity-el staking
						.nft__stak_descr.js-opacity-el $CAT staking allow holders to lock their tokens for a specified period, eratning passive income with the best APY.

		.nft__block
			.nft__end.js-fade-el
				.nft__end_in
					+picture({
						media: 1024,
						img_mob: 'nft/mob-nft-5.png',
						img: `nft/nft-5.jpg`,
						class: 'nft__hero_img_w',
						img_class: '',
						alt: 'some image',
					})

					.hero__footer_box.js-opacity-el
						+picture({
							img: `footer.png`,
							class: 'hero__footer_img_w',
							img_class: 'hero__footer_img',
							alt: 'some image',
						})
						.hero__footer_box_in
							.hero__footer_title.js-opacity-el Social media
							ul.hero__footer_social_list
								each item in list
									li.hero__footer_social_item.js-opacity-el
										a(href=item.link alt="social icon").hero__footer_social_link
											+icon(item.name, 'icon--size_mod')
							.hero__footer_rights.js-opacity-el All rights reserved © 2024 – #[a(href="https://catcoinofsolana.com/") catsofsolana.com]

					+picture({
						img: `nft/continued.png`,
						class: 'nft__end_continued js-opacity-el',
						img_class: 'hero__footer_img',
						alt: 'some image',
					})
					+picture({
						img: `cloud.png`,
						class: 'nft__end_cloud js-opacity-el',
						img_class: '',
						alt: 'some image',
					})
					+picture({
						img: `cloud.png`,
						class: 'nft__end_cloud js-opacity-el',
						img_class: '',
						alt: 'some image',
					})






