section.section.nft
	.section_in.nft__in
		.nft__block
			.nft__block_w.js-fade-el
				.nft__block_in
					+picture({
						img: `nft/nft.jpg`,
						class: 'buy__img_w',
						img_class: 'buy__title_img',
						alt: 'some image',
					})
					.nft__info_w
						.nft__info
							h2.nft__block_title.js-opacity-el NFT COLLECTION
							.nft__block_descr.js-opacity-el Enjoy your unique digital assets offering exclusive airdrops, gated holder campaigns and much more...

						.nft__block_decor.js-opacity-el



