section.section.nft
	.section_in.nft__in
		.nft__block
			.nft__hero.js-fade-el
				.nft__hero_in
					+picture({
						img: `nft/nft-1.jpg`,
						class: 'nft__hero_img_w',
						img_class: '',
						alt: 'some image',
					})
					.nft__hero_info_w
						.nft__hero_info
							h2.nft__hero_title.js-opacity-el NFT COLLECTION
							.nft__hero_descr.js-opacity-el Enjoy your unique digital assets offering exclusive airdrops, gated holder campaigns and much more...
						.nft__hero_decor.js-opacity-el

		.nft__block
			.nft__cat.js-fade-el
				.nft__cat_in
					+picture({
						img: `nft/nft-2.jpg`,
						class: 'nft__hero_img_w',
						img_class: '',
						alt: 'some image',
					})

		.nft__block
			.nft__collect.js-fade-el
				.nft__collect_in
					+picture({
						img: `nft/nft-4.png`,
						class: 'nft__hero_img_w',
						img_class: '',
						alt: 'some image',
					})
					.nft__info
						.nft__collect_title.js-opacity-el NFT COLLECTION
						.nft__collect_descr.js-opacity-el In a later stage of project development, the dedicated $CAT Marketplace will be integrated into the ecosystem, allowing users to trade FTs and utilize it as a DEX as well.


		.nft__block
			.nft__stak.js-fade-el
				.nft__stak_in
					+picture({
						img: `nft/nft-3.png`,
						class: 'nft__hero_img_w',
						img_class: '',
						alt: 'some image',
					})
					.nft__info
						.nft__stak_title.js-opacity-el staking
						.nft__stak_descr.js-opacity-el $CAT staking allow holders to lock their tokens for a specified period, eratning passive income with the best APY.






