-
	born = ["Launch Preparations","DEX Listings","TOP-Tier Market Maker","CMC & Coingecko"],
	grow = ["Marketing Activities","Holder Incentives","Brand Awareness","KOL Integrations"],
	nft = ['NFT collection development for the media exposure + marketplace, integration with external exchanges and the best MMs!',],

section.section.roadmap
	.section_in.roadmap__in
		.roadmap__block
			.roadmap__title.js-fade-el
				.roadmap__title_in
					+picture({
						img: `roadmap/roadmap.png`,
						class: 'roadmap__title_img_w',
						img_class: 'roadmap__title_img',
						alt: 'some image',
					})
					h2.roadmap__title_title.js-opacity-el Roadmap

		.roadmap__block
			.roadmap__cat.js-fade-el
				+picture({
					img: `roadmap/cat.png`,
					class: 'roadmap__cat_img_w',
					img_class: 'roadmap__cat_img',
					alt: 'some image',
				})

		.roadmap__block
			.roadmap__nft.js-fade-el
				.roadmap__nft_in
					+picture({
						img: `roadmap/nft.png`,
						class: 'roadmap__grow_img_w',
						img_class: 'roadmap__grow_img',
						alt: 'some image',
					})
					.roadmap__born_title.js-opacity-el NFT
					ul.roadmap__born_list
						each item in nft
							li.roadmap__born_item.js-opacity-el
								.roadmap__born_icon
									+icon('paw', 'icon--size_mod')
								.roadmap__born_text=item

		.roadmap__block
			.roadmap__born.js-fade-el
				.roadmap__born_in
					+picture({
						img: `roadmap/born.png`,
						class: 'roadmap__born_img_w',
						img_class: 'roadmap__born_img',
						alt: 'some image',
					})
					.roadmap__born_title.js-opacity-el Born
					ul.roadmap__born_list
						each item in born
							li.roadmap__born_item.js-opacity-el
								.roadmap__born_icon
									+icon('paw', 'icon--size_mod')
								.roadmap__born_text=item

		.roadmap__block
			.roadmap__space.js-fade-el
				+picture({
					img: `roadmap/space.png`,
					class: 'roadmap__space_img_w',
					img_class: 'roadmap__space_img',
					alt: 'some image',
				})

		.roadmap__block
			.roadmap__baby.js-fade-el
				+picture({
					img: `roadmap/baby.jpg`,
					class: 'roadmap__baby_img_w',
					img_class: 'roadmap__baby_img',
					alt: 'some image',
				})

		.roadmap__block
			.roadmap__grow.js-fade-el
				.roadmap__grow_in
					+picture({
						img: `roadmap/grow.png`,
						class: 'roadmap__grow_img_w',
						img_class: 'roadmap__grow_img',
						alt: 'some image',
					})
					.roadmap__born_title.js-opacity-el Growth
					ul.roadmap__born_list
						each item in grow
							li.roadmap__born_item.js-opacity-el
								.roadmap__born_icon
									+icon('paw', 'icon--size_mod')
								.roadmap__born_text=item

		.roadmap__block
			.roadmap__meow.js-fade-el
				.roadmap__meow_in
					+picture({
						img: `roadmap/meow.png`,
						class: 'roadmap__grow_img_w',
						img_class: 'roadmap__grow_img',
						alt: 'some image',
					})
					.roadmap__born_title.js-opacity-el Meow!
					ul.roadmap__born_list
						li.roadmap__born_item.js-opacity-el
							.roadmap__born_icon
								+icon('paw', 'icon--size_mod')
							.roadmap__born_text Expansion of the ecosystem through strategic partnerships, introduction of cross-chain capabilities and flying to the Moon!
