section.section.token
	.section_in.token__in
		.token__block
			.token__cat_w.js-fade-el
				.token__cat_in
					+picture({
						media: 1024,
						img_mob: 'token/mob-token-1.png',
						img: `token/token-1.jpg`,
						class: 'buy__img_w',
						img_class: 'buy__title_img',
						alt: 'some image',
					})

		.token__block
			.token__utility_w.js-fade-el
				.token__utility_in
					+picture({
						img: `token/token-2.png`,
						class: 'buy__img_w',
						img_class: 'buy__title_img',
						alt: 'some image',
					})
					.token__utility_decor_w.js-opacity-el
						img(src="images/token/token-decor.svg", alt="ears and paw").token__utility_decor
					.token__info_w
						h2(id='description').token__utility_title.js-opacity-el Token Utility:
						.token__utility_descr.js-opacity-el Users can use Cat Coin for transactions within our ecosystem,including purchasing exclusive NFTs, participating in governance, and accessing premium features.

		.token__block
			.token__gov_w.js-fade-el
				.token__gov_in
					+picture({
						img: `token/token-3.png`,
						class: 'buy__img_w',
						img_class: 'buy__title_img',
						alt: 'some image',
					})
					.token__info_w
						.token__gov_title.js-opacity-el Governance:
						.token__gov_descr.js-opacity-el Community members will have voting rights to propose and decide on the project's direction, ensuring decentralized decision-making.
						.token__gov_btn_w.js-opacity-el
							.hero__btn_box
								+picture({
									img: `ears.png`,
									class: 'hero__ears_img_w',
									img_class: 'hero__ears__img',
									alt: 'some image',
								})
								+picture({
									img: `tail.png`,
									class: 'hero__tail_img_w',
									img_class: 'hero__tail__img',
									alt: 'some image',
								})
								a(href="https://coinmarketcap.com/currencies/catcoinofsolana/").hero__btn Buy





