# Игнорируем все файлы и папки по умолчанию
*

# Исключаем папку dist из игнорирования, чтобы иметь возможность залить файлы внутри нее
!dist/

# Игнорируем саму папку dist, но не ее содержимое
dist/*

# Исключаем все файлы и папки внутри папки dist из игнорирования
!dist/**/*
