.menu_open {
	position: fixed;
	z-index: 100;
	top: 3rem;
	right: 3rem;
	border-radius: 50%;
	overflow: hidden;
	background: #272d43;
	width: 5rem;
	height: 5rem;
	transition: background-color ease 0.3s;
	// opacity: 0;
	cursor: pointer;

	@include bp($point_2, min) {
		display: none;
	}

	&:after,
	&:before {
		pointer-events: none;
		position: absolute;

		left: 50%;
		right: 50%;
		width: 3rem;
		height: 0.4rem;
		background-color: $white;
		content: '';
		border-radius: 0.4rem;
		transform-origin: 0% 0%;
	}
	transition: background-color ease 0.3s;
	&:focus,
	&:hover {
		background-color: #2e8f21;
	}

	&:after {
		top: 40%;
		transform: rotate(0deg) translate(-50%, -50%);
	}
	&:before {
		top: 60%;
		transform: rotate(0deg) translate(-50%, -50%);
	}
}

.menu {
	position: fixed;

	overflow: hidden;
	transition: transform ease 0.3s, opacity ease 0.3s, clip-path ease-in-out 0.4s;
	pointer-events: none;

	will-change: transform, opacity;

	&.menu--active {
		@include bp($point_2, min) {
			transform: translateX(-50%) translateY(0%);
		}
		@include bp($point_3) {
			clip-path: circle(150% at 100% 0%);
		}
		opacity: 1;
		pointer-events: auto;
	}

	@include bp($point_2, min) {
		bottom: -1px;
		left: 50%;
		width: 77vw;
		height: 15rem;
		opacity: 0;
		transform: translateX(-50%) translateY(100%);
	}
	@include bp($point_3) {
		@include flex_block(column, nowrap, center, center, center);
		left: 0;
		top: 0;
		z-index: 102;
		padding: 4rem 2rem;
		width: 100%;
		height: 100%;
		background-color: #272d43;
		overflow: hidden;
		clip-path: circle(0% at 100% 0%);
	}
}

.menu__in {
	position: relative;

	@include bp($point_2, min) {
		width: 100%;
		height: 100%;
	}
	@include bp($point_3) {
		overflow-y: auto;
	}
}

.menu__btn_close {
	position: absolute;
	top: 3rem;
	right: 3rem;
	border-radius: 50%;
	overflow: hidden;
	background: $green;
	width: 4rem;
	height: 4rem;
	transition: background-color ease 0.3s;

	@include bp($point_2, min) {
		display: none;
	}

	&:after,
	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		right: 50%;
		width: 3rem;
		height: 0.4rem;
		background-color: $white;
		content: '';
		border-radius: 0.4rem;
		transform-origin: 0% 0%;
	}

	&:focus,
	&:hover {
		background-color: $red;
	}

	&:after {
		transform: rotate(45deg) translate(-50%, -50%);
	}
	&:before {
		transform: rotate(-45deg) translate(-50%, -50%);
	}
}

.menu__img_w {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	img {
		display: block;
		width: 100%;
		height: 100%;
	}

	@include bp($point_3) {
		display: none;
	}
}

.menu__box {
	position: relative;
	z-index: 1;
	display: block;

	@include bp($point_2, min) {
		height: 100%;
	}

	@include bp($point_3) {
		width: 100%;
	}
}

.menu__nav_row {
	width: 100%;
	@include bp($point_2, min) {
		height: 100%;
	}
	@include bp($point_3) {
	}
}

.menu__nav {
	display: block;

	@include bp($point_3) {
		height: 100%;
	}
}

.menu__list {
	max-width: 120rem;
	width: 100%;
	margin: auto;

	@include bp($point_2, min) {
		@include flex_block(row, wrap, space-between, center, center);
		padding: 4rem 2rem 1rem;
	}
	@include bp($point_3) {
		@include flex_block(column, nowrap, center, center, center);
		gap: 2rem;
	}
}

.menu__link {
	display: block;

	line-height: 1.1;
	color: $white;
	font-family: $font_2;
	transition: color ease 0.3s;
	cursor: pointer;

	&.active,
	&:focus,
	&:hover {
		color: #fbbc1a;
		text-decoration: none;
	}

	@include bp($point_2, min) {
		font-size: 3.2rem;
	}
	@include bp($point_3) {
		font-size: 3.2rem;
	}
}

.menu__btn {
	cursor: pointer;
	font-family: $font_1;

	color: $white;
	text-shadow: 3px 3px $black;
	box-shadow: 3px 3px 0 0 $black;
	transition: background-color ease 0.3s;

	&:focus,
	&:hover {
		background-color: $green_2;
	}

	@include bp($point_2, min) {
		font-size: 3.2rem;
		padding: 1.6rem 4.8rem;
		background-color: $green;
		border-radius: 6rem;
	}
	@include bp($point_3) {
		font-size: 2.2rem;
		padding: 1.6rem 3rem;
		background-color: $green;
		border-radius: 6rem;
	}
}
