mixin header
	header.header
		.header__in
			.header__logo_w
				+picture({
					img: `logo.png`,
					class: 'header__img_w js-fade-start',
					img_class: 'header__img',
					alt: 'some image',
				})

				.header__logo_cta.js-fade-start Cat Coin #[br] of solana

			.header__link_w.js-text-copy-w
				.header__link_name.js-fade-start CA:
				.header__link_link.js-fade-start.js-text-copy-text HkS48VcKhzgYSmF882JkyKAM4fgZMtnwYj42Yxzuxjti
				button(type="button").header__link_btn_copy.js-fade-start.js-text-copy-btn Copy


