//---------------------------------------------sections

.js-tail-start,
.js-ears-start,
.js-start-cloud-img,
.js-cloud-img-w,
.js-cloud-img,
.js-footer-start,
.js-title-start,
.js-arrows-start {
	will-change: transform;
}

.js-opacity-el,
.js-fade-start {
	will-change: transform, opacity;
}

.js-cat-img {
	transition: transform ease 0.3s;
}

.section {
	position: relative;
	z-index: 2;

	width: 100%;
	font-size: 1rem;

	@include bp($point_2, min) {
		height: var(--full-screen);
	}
}

.race-wrapper {
	overflow: hidden;
	background-color: $black;
}

.race {
	@include flex_block(row, nowrap, flex-start, center, center);
	position: relative;
	// overflow-x: scroll;
	width: max-content;
}

.bg_full__img_w {
	position: fixed;
	top: 0;
	left: 0;
	// left: 7.5rem;
	z-index: 1;
	// right: -15rem;
	// margin-left: -10rem;
	display: block;
	width: 601.4vw;

	// width: 600.98vw;
	// width: 100%;
	// background-color: #1e1e1e;

	height: var(--full-screen);
	// aspect-ratio: 9184 / 1080;

	img {
		@include contain_img;
		object-fit: fill;
	}
}
