//---------------------------------------------sections

.js-tail-start,
.js-ears-start,
.js-start-cloud-img,
.js-cloud-img-w,
.js-cloud-img,
.js-footer-start,
.js-title-start,
.js-arrows-start {
	will-change: transform;
}

.js-opacity-el,
.js-fade-start {
	will-change: transform, opacity;
}

.js-cat-img {
	transition: transform ease 0.3s;
}

.section {
	position: relative;
	z-index: 2;

	width: 100%;
	font-size: 1rem;

	@include bp($point_2, min) {
		height: var(--full-screen);
	}

	h2 {
		scroll-margin-top: 10rem;
	}
}

.race-wrapper {
	background-color: $black;
	@include bp($point_2, min) {
		overflow: hidden;
	}
	@include bp($point_3) {
	}
}

.race {
	@include bp($point_2, min) {
		@include flex_block(row, nowrap, flex-start, center, center);
		position: relative;
		// overflow-x: scroll;
		width: max-content;
	}
	@include bp($point_3) {
		height: 987.8rem;
	}
}

.bg_full__img_w {
	top: 0;
	left: 0;
	z-index: 1;
	display: block;

	// width: 600.98vw;
	// width: 100%;
	// background-color: #1e1e1e;

	// aspect-ratio: 9184 / 1080;

	@include bp($point_2, min) {
		position: fixed;
		height: var(--full-screen);
		width: 601.4vw;
	}
	@include bp($point_3) {
		position: absolute;
		width: 100vw;
		height: 100%;
	}

	img {
		@include contain_img;
		object-fit: fill;
	}
}
